---
import type { CollectionEntry } from 'astro:content';
import DropDown from '../../global/DropDown.vue';
import AnchorButton from '../../global/AnchorButton.vue'
interface Props {
  entry: CollectionEntry<'project'>
}
const { entry } = Astro.props;
const project = entry.data;

//transition:name={`${entry.id}-image`} 
---

<div class="flex items-center justify-center flex-col" >
  <img class="z-20 h-16 w-16 object-cover rounded-md" src={project.image} alt={`${project.title} principal image`}>
  <h1 class="text-4xl font-medium">{project.title}</h1>
  <h2 class="text-xl text-slate-500">{project.subtitle}</h2>
  <div class="mt-4 flex flex-col sm:flex-row gap-2">

    <!-- Si el proyecto tiene url -->
    {project.url && 
    <AnchorButton target="_blank" href={project.url}>
      <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="h-5 w-5" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
      </svg>
      Ver en vivo
    </AnchorButton>
    }
    

    {project.repositories && (
      project.repositories.length === 1 ? (
      <AnchorButton target="_blank" href={project.repositories[0].url} variant="principal-outlined">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
            <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/>
        </svg>
        Código fuente
      </AnchorButton>
      ) : (
        <DropDown variant="principal-outlined" client:load>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
              <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/>
          </svg>
          Código fuente

          <ul slot="menu" class="p-1 bg-blue-500 shadow-lg rounded-lg flex flex-col">
            {project.repositories.map((repo, index) => (
              <a href={repo.url} target="_blank" class="text-center text-white w-full px-6 py-2 hover:bg-blue-600 transition rounded-lg">{repo.title}</a>
            ))}
          </ul>
        </DropDown>
      )
    )}

  </div>
</div>
